<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <p>NOTICE: We will never charge any money to your card, ever. You charge yourself as a punishment in case you don't achieve your goals.</p>

  <p>Although recommended, this is optional, and you can enter your card in later from account settings. But you can't create a new goal for yourself without setting the stakes at $3 at least, so Palioxis won't be of much use without a card. Best to just enter it now and save yourself the trouble. Remember we will never bill you, you only bill yourself.</p>

  <div class="field">
    <%= label_tag :card_number, "Card Number" %>
    <%= text_field_tag :card_number, nil, name: nil %>
  </div>
  
  <div class="field">
    <%= label_tag :card_code, "Security Code (CVV)" %>
    <%= text_field_tag :card_code, nil, name: nil %>
  </div>

  <div class="field">
    <%= label_tag :card_month, "Expiration Date" %>
    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
