%h2= @user.full_name

%p= "#{@user.first_name}'s goals"
%ul
- @user.goals.each do |goal|
  %li= goal.name

%p= link_to "#{ current_user.stripe_token ? 'Edit card' : 'Add a card' }", manage_card_path if current_user.id == @user.id
